<%- include('base/base_header.ejs') %>
<section class="tables-section">
    <div class="outer-w3-agile mt-3">
        <h4 class="tittle-w3-agileits mb-4">
            <%=title%>
        </h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="appList" style="width:100%;">
                <thead>
                    <tr>
                        <th scope="col">App Name</th>
                        <th scope="col">APP ID</th>
                        <th scope="col">Subscribe</th>
                        <th scope="col">Dial</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">App Details</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<%- include('base/base_footer.ejs') %>
<script type="text/javascript" src="/dashboard/DataTables/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var appList = $('#appList').DataTable({
        "processing": true,
        "serverSide": true,
        "order": [],
        "ajax": {
            url: "<%=appList%>",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            type: "POST"
        },
        "columnDefs": [{
            "targets": [4],
            "orderable": false
        }],
        "lengthMenu": [
            [15, 25, 50, 75, 100, 200],
            [15, 25, 50, 75, 100, 200]
        ],
    })
})
</script>
<%- include('base/close_footer.ejs') %>