<%- include('base/base_header.ejs') %>
<% if (active) { %>
<div class="container-fluid">
    <div class="row">
        <div class="outer-w3-agile col-xl">
            <h4 class="tittle-w3-agileits mb-2">Server Overview</h4>
            <div class="stat-grid p-3 d-flex align-items-center justify-content-between custom-block block-1">
                <div class="s-l">
                    <h5>Account Balance</h5>
                </div>
                <div class="s-r">
                    <h6>
                        <%=balance%> Tk
                    </h6>
                </div>
            </div>
            <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between custom-block block-2">
                <div class="s-l">
                    <h5>Account Active</h5>
                </div>
                <div class="s-r">
                    <h6>
                        <%=active%>
                    </h6>
                </div>
            </div>
            <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between custom-block block-3">
                <div class="s-l">
                    <h5>Account Expire</h5>
                </div>
                <div class="s-r">
                    <h6>
                        <%=expire%>
                    </h6>
                </div>
            </div>
            <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between custom-block block-4">
                <div class="s-l">
                    <h5>Max App Install</h5>
                </div>
                <div class="s-r">
                    <h6>
                        <%=maxApp%>
                    </h6>
                </div>
            </div>
            <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between custom-block block-5">
                <div class="s-l">
                    <h5>App Installed</h5>
                </div>
                <div class="s-r">
                    <h6>
                        <%=appInstalled%>
                    </h6>
                </div>
            </div>
            <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between custom-block block-6">
                <div class="s-l">
                    <h5>Total Subscriber</h5>
                </div>
                <div class="s-r">
                    <h6>
                        <%=totalSubscriber%>
                    </h6>
                </div>
            </div>
        </div>
        <!-- Calender -->
        <div class="outer-w3-agile col-xl ml-xl-3 mt-xl-0 mt-3">
            <h4 class="tittle-w3-agileits mb-2">Calender</h4>
            <div class="calender"></div>
        </div>
        <!--// Calender -->
    </div>
</div>
<% } else { %>
<h2 class="main-title-w3layouts mb-2 text-center">Account Inactive</h2>
<div class="blank-page-content" style="padding: 35px 210px;">
    <div class="outer-w3-agile mt-3" style="padding: 10px 60px;width: 585px;margin: 0 auto;">
        <p class="paragraph-agileits-w3layouts">Now your account is inactive.<br>
            For activing your account please Bkash 350Tk on this number, 01947738405 with refarence code 'proapp'.<br>
            After Bkash on this number please contact with admin on this number, 01947738405 for activing your account.<br>
            This is our monthly fee, your can install 15 app.<br>
            If you need more app to install, please contact with us.<br>
            After 1 month you have to recharge again for running your app.
        </p>
    </div>
</div>
<% } %>
<%- include('base/base_footer.ejs') %>
<%- include('base/close_footer.ejs') %>