<div class="outer-w3-agile mt-3">
	<h4 class="tittle-w3-agileits mb-4">
		<%=title%>
	</h4>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="appDetails-tab" data-toggle="tab" href="#appDetails" role="tab" aria-controls="appDetails" aria-selected="false">App URLs</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="messageContent-tab" data-toggle="tab" href="#messageContent" role="tab" aria-controls="messageContent" aria-selected="false">Message Content</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane show active" id="appDetails" role="tabpanel" aria-labelledby="appDetails-tab" style="padding: 25px;">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Message Receiving URL</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" value="<%=sms%>" readonly />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Ussd Connection URL</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" value="<%=ussd%>" readonly />
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="messageContent" role="tabpanel" aria-labelledby="messageContent-tab" style="padding: 25px;">
			<div id="content-message"></div>
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped" id="messageContentTable" style="width:100%;">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
							<th scope="col">Message</th>
							<th scope="col">Status</th>
							<th scope="col">Edit Message</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<input type="hidden" value="<%=appName%>" id="appName" />
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateAppContentModalLabel" aria-hidden="true" id="updateAppContentModel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form action="<%=updateContentUrl%>" method="post" id="updateContentURL">
				<div class="modal-header">
					<h4 class="modal-title" id="updateAppContentModalLabel">Update App Content</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="update-app-message-content"></div>
					<div class="form-group row">
						<div class="form-group col-md-12">
							<label for="updateAppMessageContent">Message</label>
							<textarea class="form-control" name="updateAppMessageContent" id="updateAppContent" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" id="updateAppMessageBtn">Change</button>
				</div>
			</form>
		</div>
	</div>
</div>
