<form action="<%=loginFormURL%>" method="POST" class="login100-form" id="loginForm">
	<span class="login100-form-title p-b-14">
		Welcome
	</span>
	<span class="login100-form-title p-b-34">
		<%=title%>
	</span>
	<% if (flashMessage) { %>
	<div class="alert alert-info alert-dismissible" id="flashMessage" role="alert" style="width: 100%;">
		<%=flashMessage%>
	</div>
	<% } %>
	<div id="message" style="width: 100%"></div>
	<div class="wrap-input100 rs1-wrap-input100 m-b-20" data-validate="Type email">
		<input id="first-name" class="input100" type="text" name="email" placeholder="Email" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 rs2-wrap-input100 m-b-20" data-validate="Type password">
		<input class="input100" type="password" name="password" placeholder="Password" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="container-login100-form-btn">
		<button class="login100-form-btn" id="buttonload">
			Sign in
		</button>
	</div>
	<div class="w-full text-center p-t-27 p-b-110">
		<a href="<%=forgotPasswordURL%>" class="txt4">
			Forgot Password?
		</a>
	</div>
	<div class="w-full text-center">
		<a href="<%=registrationPageURL%>" class="txt4">
			Registration
		</a>
	</div>
</form>
